<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Movements</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">
  <ion-card class="card-container">
    <ion-card-header>
      <ion-card-title class="centered-title login-title">Scan Consumable</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="text" placeholder="Scan" [(ngModel)]="partNumber" (ionChange)="showActionButtons()" (keyup.enter)="showActionButtons()"></ion-input>
    </ion-card-content>
  </ion-card>


  <div *ngIf="filteredConsumables.length === 1" class="action-card">
    <div class="consumable-info">
      <h1>{{ filteredConsumables[0].Consumable }}</h1>
      <p>Part Number: <b>{{ filteredConsumables[0].PartNumber }}</b></p>
      <p>Available: <b>{{ filteredConsumables[0].SubTotal }}</b></p>
      <h2>In/Out Material</h2>
    </div>
    <div class="action-buttons">
      <ion-button (click)="handleAction('increase')">Increase</ion-button>
      <ion-button (click)="handleAction('lend')">Lend</ion-button>
      <ion-button (click)="handleAction('damage')">Damage</ion-button>
      <ion-button (click)="handleAction('endOfLife')">End of Life</ion-button>
    </div>
    <ion-button (click)="clearScan()" expand="block" color="danger">Close</ion-button>
  </div>
  </div>
</ion-content>
