.background {
    padding: 20px;
      padding: 20px;
      height: 100%;
      background: url('../../assets/fondo2.jpg') no-repeat center center fixed;
      background-size: cover;
      width: 100%;
      }  

    ion-card {
        width: 90%;
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.9); /* Blanco con 50% de opacidad */
        border: 1px solid rgba(0, 0, 0, 1); /* Borde con 10% de opacidad */
      }
  .whitefill{
    background: #d0d3d4;
  }
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.centered-table {
    width: 100%;
    border: 2px solid gray;
    box-sizing: border-box;
}

.scan-input {
    border: 2px solid gray;
    box-sizing: border-box;
    display: flex;
}

.centered-title {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    margin-right: 10px;
}

.action-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}
.scan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}




.consumable-info {
    text-align: center;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.action-buttons ion-button {
    flex: 1;
    margin: 0 5px;
}

/* Ajustes para tabletas (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .centered-table {
        width: 80%;
    }

    .button-container {
        justify-content: center;
    }
}

/* Ajustes para laptops y monitores de escritorio (> 1024px) */
@media (min-width: 1024px) {
    .centered-table {
        width: 70%;
    }

    .button-container {
        justify-content: flex-end;
    }
}

/* Ajustes específicos para teléfonos (hasta 767px) */
@media (max-width: 767px) {
    .centered-table {
        width: 95%;
    }

    .scan-input {
        flex-direction: column;
    }

    .button-container {
        justify-content: center;
    }

    .menu-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.centered-table ion-col {
    max-width: 150px;
}
