<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Movements</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">

  <div class="select">
    <ion-select placeholder="Select the order of the table" [(ngModel)]="selectedOption" (ionChange)="onOptionChange($event)">
      <ion-select-option value="option1">A-Z Consumable Name</ion-select-option>
      <ion-select-option value="option2">Z-A Consumable Name</ion-select-option>
      <ion-select-option value="option3">Total Max</ion-select-option>
      <ion-select-option value="option4">Total Min</ion-select-option>
    </ion-select>

    <div class="butt">
      <ion-button (click)="addConsumable()" color="danger">Add Consumable</ion-button>
    </div>
  </div>

  <table>
    <tr>
      <th>Consumable</th>
      <th>Description</th>
      <th>Part Number</th>
      <th>Minimum Level</th>
      <th>Maximum Level</th>
      <th>Available</th>
      <th>Lend</th>
      <th>Damage</th>
      <th>End of life</th>
      <th>Total</th>
      <th></th>
    </tr>
    <tr *ngFor="let consumable of consumables" [ngClass]="{
      'blue-row': consumable.SubTotal >= consumable.MaximumLevel, 
      'red-row': consumable.SubTotal <= consumable.MinimumLevel
    }">
      <td>{{ consumable.Consumable }}</td>
      <td>{{ consumable.Description }}</td>
      <td>{{ consumable.PartNumber }}</td>
      <td>{{ consumable.MinimumLevel }}</td>
      <td>{{ consumable.MaximumLevel }}</td>
      <td>{{ consumable.SubTotal }}</td>
      <td>{{ consumable.lend }}</td>
      <td>{{ consumable.damage }}</td>
      <td>{{ consumable.life}}</td>
      <td>{{ consumable.total }}</td>
      <td>
        <ion-icon name="create-outline" class="iconup" (click)="updateConsumable(consumable)"></ion-icon>
        <ion-icon name="trash-outline" class="icondel" (click)="deleteConsumable(consumable)"></ion-icon>
      </td>
    </tr>
  </table>

  <div class="color-legend" style="text-align: center;">
    <div><span class="color-box blue"></span> Blue: Consumable exceeds or equals the maximum level</div>
    <div><span class="color-box red"></span> Red: the consumable is less than or equal to the minimum level</div>
  </div>

<!-- Lend -->
<ion-button (click)="toggleLend()" expand="full">Lend</ion-button>

<ion-card *ngIf="showLend">
  <ion-card-header>
    <ion-card-title>Consumable Lending</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="responsive-container">
      <table>
        <thead>
          <tr>
            <th>Consumable</th>
            <th>Quantity</th>
            <th>Reason</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of c1lend">
            <td>{{ item.consumable }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.reason }}</td>
            <td>{{ item.date }}</td>
            <td>
              <ion-button (click)="confirmDeleteLend(item)" color="danger">Return</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>
<!-- Life -->
<ion-button (click)="toggleLife()" expand="full">Life</ion-button>

<ion-card *ngIf="showLife">
  <ion-card-header>
    <ion-card-title>End of life of consumables</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="responsive-container">
      <table>
        <thead>
          <tr>
            <th>Consumable</th>
            <th>Quantity</th>
            <th>Reason</th>
            <th>Date</th>
            <!-- <th>Actions</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of c1life">
            <td>{{ item.consumable }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.reason }}</td>
            <td>{{ item.date }}</td>
            <!--<td>
              <ion-button  color="danger">Delete</ion-button>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>


<!-- damage -->
<ion-button (click)="toggledamage()" expand="full">Damage</ion-button>

<ion-card *ngIf="showDamage">
  <ion-card-header>
    <ion-card-title>Consumables Damaged</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="responsive-container">
      <table>
        <thead>
          <tr>
            <th>Consumable</th>
            <th>Quantity</th>
            <th>Reason</th>
            <th>Date</th>
            <!-- <th>Actions</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of c1damage">
            <td>{{ item.consumable }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.reason }}</td>
            <td>{{ item.date }}</td>
            <!--<td>
              <ion-button  color="danger">Delete</ion-button>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>

  <!-- Historial -->
  <ion-button (click)="toggleTable()" expand="full">History</ion-button>
  <ion-select placeholder="Select the order of the history" [(ngModel)]="selectedHistoryOption" (ionChange)="onHistoryOptionChange($event)" *ngIf="showTable">
    <ion-select-option value="nameAsc">A-Z Consumable Name</ion-select-option>
    <ion-select-option value="nameDesc">Z-A Consumable Name</ion-select-option>
    <ion-select-option value="actionAsc">Action</ion-select-option>
    <ion-select-option value="userAsc">User</ion-select-option>
  </ion-select>
  <table *ngIf="showTable">
    <tr>
      <th>Consumable</th>
      <th>Date</th>
      <th>Action</th>
      <th>Reason</th>
      <th>User</th>
    </tr>
    <tr *ngFor="let historyItem of paginatedHistory">
      <td>{{ historyItem.consumable.Consumable }} {{ historyItem.consumable.consumable }}</td>
      <td>{{ historyItem.date }}</td>
      <td>{{ historyItem.action }}</td>
      <td>{{ historyItem.reason }}</td>
      <td>{{ historyItem.user.clockNumber }} - {{ historyItem.user.fullName }}</td>
    </tr>
  </table>
  <div class="button-container" *ngIf="showTable">
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>
  </div>
</ion-content>
