<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Spare Control CMSystem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="select">
 
    <ion-select placeholder="Select the order of the table" [(ngModel)]="selectedOption" (ionChange)="onOptionChange($event)">
      <ion-select-option value="option1">A-Z Consumable Name</ion-select-option>
      <ion-select-option value="option2">Z-A Consumable Name</ion-select-option>
      <ion-select-option value="option3">Total Max</ion-select-option>
      <ion-select-option value="option4">Total Min</ion-select-option>
    </ion-select>

    <div class="butt">
      <ion-button class="buttcounter" routerLink="/menu">Menu</ion-button>
      <ion-button class="buttcounter" routerLink="/life">Life</ion-button>
      <ion-button class="buttcounter" routerLink="/cat6counter">Counter</ion-button>
      <ion-button (click)="addConsumable()" color="danger">Add</ion-button>
    </div>
  </div>

  <table>
    <tr>
      <th>Consumable</th>
      <th>Description</th>
      <th>Part Number</th>
      <th>Minimum Level</th>
      <th>Maximum Level</th>
      <th>Total</th>
    
      <th></th>
    </tr>
    <tr *ngFor="let consumable of consumables" [ngClass]="{
      'blue-row': consumable.SubTotal >= consumable.MaximumLevel, 
      'red-row': consumable.SubTotal <= consumable.MinimumLevel
      
    }">
      <td>{{ consumable.Consumable }}</td>
      <td>{{ consumable.Description }}</td>
      <td>{{ consumable.PartNumber }}</td>
      <td>{{ consumable.MinimumLevel }}</td>
      <td>{{ consumable.MaximumLevel }}</td>
      <td>{{ consumable.SubTotal }}</td>
     
      <td>
        <ion-icon name="create-outline" class="iconup" (click)="updateConsumable(consumable)"></ion-icon>
        <ion-icon name="trash-outline" class="icondel" (click)="deleteConsumable(consumable)"></ion-icon>
      </td>
    </tr>
  </table>


  <div class="color-legend" style="text-align: center;">
    <div><span class="color-box blue"></span> Blue: Consumable exceeds or equals the maximum level</div>
    <div><span class="color-box red"></span> Red: the consumable is less than or equal to the minimum level</div>
  </div>
 
  <!-- Sección de LEND Consumables -->
  <ion-button expand="full" (click)="toggleLend()">Lend Consumable</ion-button>
  <ion-list *ngIf="showLend">
    <ion-item *ngFor="let consumable of consumables">
      <ion-label>
        <h2>{{ consumable.Consumable }}</h2>
        <p>Total: {{ consumable.SubTotal }}</p>
      </ion-label>
      <ion-checkbox slot="start" (ionChange)="updateSelectedConsumablesLend($event, consumable)"></ion-checkbox>
      <ion-input slot="end" type="number" (ionChange)="updateConsumableQuantityLend($event, consumable)" placeholder="Quantity"></ion-input>
      <ion-input slot="end" type="text" (ionChange)="updateConsumableReasonLend($event, consumable)" placeholder="Reason"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="updateLendTotal()" color="danger" *ngIf="showLend">Update Lend Total</ion-button>
  <ion-list *ngIf="showLend">
    <ion-item *ngFor="let lend of lend">
      <ion-label>
        <h2>{{ lend.Consumable }}</h2>
        <p>Lend: {{ lend.Lend }}</p>
        <p>Reason: {{ lend.Reason }}</p>
        <p>Date: {{ lend.Date }}</p>
      </ion-label>
      <ion-button (click)="updateLend(lend)" color="primary">Update</ion-button>
      <ion-button (click)="deleteLend(lend)" color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <!-- Sección de Scrap Consumables -->
  <ion-button expand="full" (click)="toggleScrap()">Scrap Consumable</ion-button>
  <ion-list *ngIf="showScrap">
    <ion-item *ngFor="let consumable of consumables">
      <ion-label>
        <h2>{{ consumable.Consumable }}</h2>
        <p>Total: {{ consumable.SubTotal }}</p>
      </ion-label>
      <ion-checkbox slot="start" (ionChange)="updateSelectedConsumablesScrap($event, consumable)"></ion-checkbox>
      <ion-input slot="end" type="number" (ionChange)="updateConsumableQuantityScrap($event, consumable)" placeholder="Quantity"></ion-input>
      <ion-input slot="end" type="text" (ionChange)="updateConsumableReason($event, consumable)" placeholder="Reason"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="updateScrapTotal()" color="danger" *ngIf="showScrap">Update Scrap Total</ion-button>
  <ion-list *ngIf="showScrap">
    <ion-item *ngFor="let scrap of scrap">
      <ion-label>
        <h2>{{ scrap.Consumable }}</h2>
        <p>Scrap: {{ scrap.Scrap }}</p>
        <p>Reason: {{ scrap.Reason }}</p>
        <p>Date: {{ scrap.Date }}</p>
      </ion-label>
      <ion-button (click)="updateScrap(scrap)" color="primary">Update</ion-button>
      <ion-button (click)="deleteScrap(scrap)" color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>
 

  <ion-button (click)="toggleTable()" expand="full">History</ion-button>

  <ion-select placeholder="Select the order of the history" [(ngModel)]="selectedHistoryOption" (ionChange)="onHistoryOptionChange($event)" *ngIf="showTable">
    <ion-select-option value="nameAsc">A-Z Consumable Name</ion-select-option>
    <ion-select-option value="nameDesc">Z-A Consumable Name</ion-select-option>
    <ion-select-option value="actionAsc">Action</ion-select-option>
    <ion-select-option value="userAsc">User</ion-select-option>
  </ion-select>

  <table *ngIf="showTable" >
    <tr>
      <th>Consumable</th>
      <th>Date</th>
      <th>Action</th>
      <th>Reason</th>
      <th>User</th>
    </tr>
    <tr *ngFor="let historyItem of paginatedHistory" >
      <td>{{ historyItem.consumable.Consumable }}</td>
      <td>{{ historyItem.date }}</td>
      <td>{{ historyItem.action }}</td>
      <td>{{ historyItem.reason }}</td>
      <td>{{ historyItem.user.clockNumber }} - {{ historyItem.user.fullName }}</td>
    </tr>
  </table>

  <div class="button-container" *ngIf="showTable">
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>

</ion-content>
