.background {
  padding: 20px;
padding: 20px;
height: 100%;
background: url('../../assets/fondo2.jpg') no-repeat center center fixed;
background-size: cover;
width: 100%;
}
.rack-button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 16px;
}

.rack-container {
  position: relative;
}

.consumables-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
}


.red-button {
  --background: red !important;
  --color: white !important;
}

.yellow-button {
  --background: rgb(234, 255, 0) !important;
  --color: rgb(0, 0, 0) !important;
}

.default-button {
  --background: var(--ion-color-primary) !important;
  --color: white !important;
}

ion-button.soon {
  background-color: yellow !important;
  color: darkorange;
 
}

ion-button.replace {
  background-color: red !important;
  color: rgb(255, 0, 0);
}

.consumables-container.soon {
  background-color: yellow;
}

.consumables-container.replace {
  background-color: red;
}

.consumable-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 8px;
  display: block;
  width: 100%;
}

.consumable-info h2 {
  font-size: 14px;
  margin: 0;
}

.consumable-info p {
  margin: 0;
  font-size: 12px;
}

ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
