.header-row {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .data-row {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #b0b0b0;
    border-radius: 5px;
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .butt {
    display: flex; 
    justify-content: flex-end;
}
.iconup {
  font-size: 24px; 
  color: blue;
}

.icondel {
  font-size: 24px; 
  color: rgb(133, 0, 0);
}
.scan-input {
  width: 100%;
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
}
  

.button-container {
  display: flex;
  justify-content: flex-end;
}
.soon {
  background-color: yellow !important;

}

.replace {
  background-color: red !important;
  color:#000000;
}

.rack-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.consumable-info h2 {
  font-size: 16px;
  margin: 0;
}

.consumable-info p {
  margin: 0;
  font-size: 14px;
}

ion-card {
  margin-bottom: 16px;
}

ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
