<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Dashboard Rack</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logout()" >
      <ion-icon name="log-out"  style="font-size: 40px;">
  </ion-icon>  
  log out 
</ion-button >
</ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="background">
    <h1>Line A</h1>
  <div class="rack-button-grid">
   
    <div *ngFor="let rack of racks; let i = index" class="rack-container">
      <ion-button 
        (click)="toggleRackVisibility(rack)"
        [ngClass]=" getButtonClass(rack)"
        expand="block"
      >
        {{ rack }}
      </ion-button>

      <div *ngIf="isRackVisible(rack)" class="consumables-container" [ngClass]="getRackClass(rack)">
        <div *ngFor="let consumable of consumables" [hidden]="consumable.rack !== rack">
          <ion-item [ngClass]="consumable.cssClass" class="consumable-item">
            <ion-label class="consumable-info">
              <h2><b>{{ consumable.name }}</b></h2>
              <p>{{ consumable.lifecyclePercentage.toFixed(2) }}% - {{ consumable.status }}</p>
            </ion-label>
            <ion-button (click)="resetInitializationDate(consumable)" color="medium">Reset</ion-button>
            <ion-button (click)="toggleConsumableTime(consumable)" color="medium">
              {{ consumable.isPaused ? 'Resume' : 'Pause' }}
            </ion-button>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>


