<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Spare Control CMSystem / Life</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/dashboard">Dashboard</ion-button>
      <ion-button routerLink="/login">login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="rack-grid">
    <div *ngFor="let rack of racks">
      <ion-card [ngClass]="getRackClass(rack)">
        <ion-card-title><b>{{ rack }}</b></ion-card-title>
        <div *ngFor="let consumable of consumables" [hidden]="consumable.rack !== rack">
          <ion-item [ngClass]="consumable.cssClass">
            <ion-label class="consumable-info">
            <h2><b>{{ consumable.name }}</b></h2>
            <p>Status: {{ consumable.lifecyclePercentage.toFixed(2) }}% - {{ consumable.status }}</p>
          </ion-label>
            <ion-button (click)="resetInitializationDate(consumable)">Reset</ion-button>
          </ion-item>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>

