.centered-title {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('../../assets/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

ion-card {

  width: 50%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9); /* Blanco con 50% de opacidad */
  border: 1px solid rgba(0, 0, 0, 1); /* Borde con 10% de opacidad */
}

.login-title {
  font-size: 2rem; /* Tamaño del texto */
  color: #333333; /* Color del texto */
  margin: 0;
  font-weight: 600; /* Peso de la fuente (semi-negrita) */
  margin-bottom: 1rem; /* Espaciado debajo del título */
}

.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  padding: 1rem; /* Espaciado opcional */
}
