
.centered-title {
    text-align: center;
  }
  .centered-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .big-button {
    width: 90%;
    height: 100px;
  }
  