ion-segment-button{
  --color-checked: #ffffff; /* Color del texto cuando está seleccionado */
  --background-checked: #007bff;
  --background:#ffffff ;
  --color: black;
}

.header-row {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .data-row {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #b0b0b0;
    border-radius: 5px;
  }
  
  .pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .butt {
    display: flex; 
    justify-content: flex-end;
}
.iconup {
  font-size: 24px; 
  color: blue;
}

.icondel {
  font-size: 24px; 
  color: rgb(133, 0, 0);
}
.scan-input {
  width: 100%;
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
}
  

.button-container {
  display: flex;
  justify-content: flex-end;
}
.life-document {
    margin: 10px;
  }
  
.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .rectangle {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
  }