<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar class="custom-toolbar">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/life" routerDirection="root">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-list>

      <!-- Inventory Dropdown -->
      <ion-list>
        <ion-item lines="none" button (click)="toggleDropdown()">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>Spare parts inventory</ion-label>
          <ion-icon slot="end" [name]="dropdownOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-item>
        <ion-list *ngIf="dropdownOpen" class="dropdown-content">
          <ion-item *ngFor="let location of locations" (click)="selectOption(location.location)" button>
            {{ location.location }}
          </ion-item>
        </ion-list>
      </ion-list>

      <!-- General Inventory Dropdown -->
      <ion-list>
        <ion-item lines="none" button (click)="toggleDropdowngeneral()">
          <ion-icon name="file-tray-stacked-sharp" slot="start"></ion-icon>
          <ion-label>General Inventory</ion-label>
          <ion-icon slot="end" [name]="dropdowngeneral ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-item>
        <ion-list *ngIf="dropdowngeneral" class="dropdown-content">
          <ion-item *ngFor="let location of locationgeneral" (click)="selectOptiongeneral(location.location)" button>
            {{ location.location }}
          </ion-item>
        </ion-list>
      </ion-list>

      <!-- Tools Dropdown -->
      <ion-list>
        <ion-item lines="none" button (click)="toggleDropdowntools()">
          <ion-icon name="construct-sharp" slot="start"></ion-icon>
          <ion-label>Tools</ion-label>
          <ion-icon slot="end" [name]="dropdownOpentools ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-item>
        <ion-list *ngIf="dropdownOpentools" class="dropdown-content">
          <ion-item *ngFor="let location of locationstools" (click)="selectOptiontools(location.location)" button>
            {{ location.location }}
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-content>

    <!-- Admin Links at the bottom -->
    <ion-footer class="admin-footer">
      <ion-list>
        <ion-item *ngIf="userService.isAdmin()" routerLink="/cycle" routerDirection="root">
          <ion-icon name="checkmark-done-circle" slot="start"></ion-icon>
      
          <ion-label>Slot Management</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngIf="userService.isAdmin()" routerLink="/user" routerDirection="root">
          <ion-icon name="person-circle-sharp" slot="start"></ion-icon>
          <ion-label>User</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item *ngIf="userService.isAdmin()" routerLink="/location" routerDirection="root">
          <ion-icon name="location-sharp" slot="start"></ion-icon>
          <ion-label>Locations</ion-label>
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
