.custom-toolbar {
    color: #ffffff; /* Cambia el color del texto */
    font-size: 20px;
    --ion-color-primary: #fca311; /* Personaliza el color primario */
    --ion-toolbar-background: #34495e; /* Cambia el fondo de la toolbar */
    --ion-toolbar-border-color: #0000; /* Cambia el color del borde */ 
  
    ion-title {
      font-weight: bold; /* Haz el título en negrita */
      text-align: center; /* Centra el texto */
    }
  
    /* Opcional: añadir un borde inferior */
    border-bottom: 2px solid #ffffff;
  }

  .fondo{
    --background: none; /* Desactiva el fondo por defecto de Ionic */
    background-image: url('../assets/fondo.jpg');
    background-size: cover; /* Cubre toda el área de contenido */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  .fondo2{
    --background: none; /* Desactiva el fondo por defecto de Ionic */
    background-image: url('../assets/fondo2.jpg');
    background-size: cover; /* Cubre toda el área de contenido */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }