<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>{{ location }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" >
      <ion-icon name="log-out"  style="font-size: 40px;">
  </ion-icon>  
  log out 
</ion-button >
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">

  <div class="select">
    <ion-select placeholder="Select the order of the table" [(ngModel)]="selectedOption" (ionChange)="onOptionChange($event)">
      <ion-select-option value="option1">A-Z Consumable Name</ion-select-option>
      <ion-select-option value="option2">Z-A Consumable Name</ion-select-option>
      
    </ion-select>

    <div class="butt">
      
      <ion-button (click)="addConsumable()" color="danger">Add Consumable</ion-button>

    </div>
  </div>
  <ion-card>
    <table>
      <tr>
        <th>Location</th>
        <th>Consumable</th>
        <th>Description</th>
        <th>Comment</th>  
        <th>Part Number</th>
        <th>Available</th>
        <th>Used</th>
        <th>Damage</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let consumable of consumables">
      <td>{{ consumable.location }}</td>
      <td>{{ consumable.Consumable }}</td>
      <td>{{ consumable.Description }}</td>
      <td>{{ consumable.Comment }}</td>
      <td>{{ consumable.PartNumber }}</td>
      <td>{{ consumable.SubTotal }}</td>
      <td>{{ consumable.lend }}</td>
      <td>{{ consumable.damage }}</td>
      <td>{{ consumable.total }}</td>
      <td>
        <ion-icon name="create-outline" class="iconup" (click)="updateConsumable(consumable)"></ion-icon>
        <ion-icon name="trash-outline" class="icondel" (click)="deleteConsumable(consumable)"></ion-icon>
        <ion-icon name="git-compare-sharp" class="iconact" (click)="showActionAlert(consumable)"> </ion-icon>
        
      </td>
      </tr>
    </table>
  </ion-card>



 <!-- Lend -->
<ion-button (click)="toggleLend()" expand="full" color="medium">Lend</ion-button>

<ion-card *ngIf="showLend">
  <ion-card-header>
    <ion-card-title>Consumable Lending</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="responsive-container">
      <table>
        <thead>
          <tr>
          <th>Consumable</th>
          <th>Quantities</th>
          <th>User</th>
          <th>Date</th>
          <th>Reason</th>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of c1lend">
            <td>{{ item.ConsumableName  }}</td>
            <td>{{ item.Quantity}}</td>
            <td>{{ item.user.fullName }}</td>
            <td>{{ item.date}}</td>
            <td>{{ item.reason }}</td>
          
            <td>
              <ion-button (click)="confirmDeleteLend(item)" color="danger">Return</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>















  <!-- Historial -->
  <ion-button (click)="toggleTable()" expand="full" color="medium">History</ion-button>
  <ion-select placeholder="Select the order of the history" [(ngModel)]="selectedHistoryOption" (ionChange)="onHistoryOptionChange($event)" *ngIf="showTable">
    <ion-select-option value="nameAsc">A-Z Consumable Name</ion-select-option>
    <ion-select-option value="nameDesc">Z-A Consumable Name</ion-select-option>
    <ion-select-option value="actionAsc">Action</ion-select-option>
    <ion-select-option value="userAsc">User</ion-select-option>
  </ion-select>
  <ion-card>
  <table *ngIf="showTable">
    <tr>
      <th>Consumable</th>
      <th>Date</th>
      <th>Action</th>
      <th>Reason</th>
      <th>User</th>
    </tr>
    <tr *ngFor="let historyItem of paginatedHistory">
      <td>{{ historyItem.consumable.Consumable }} {{ historyItem.consumable.consumable }}</td>
      <td>{{ historyItem.date }}</td>
      <td>{{ historyItem.action }}</td>
      <td>{{ historyItem.reason }}</td>
      <td>{{ historyItem.user.clockNumber }} - {{ historyItem.user.fullName }}</td>
    </tr>
  </table>
</ion-card>

  <div class="button-container" *ngIf="showTable">
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</ion-button>
  </div>
  </div>
</ion-content>
