/* Estilo base común para todos los dispositivos */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.centered-table {
    width: 100%;
    border: 2px solid gray;
    box-sizing: border-box;
}

.scan-input {
    width: 100%;
    border: 2px solid gray;
    box-sizing: border-box;
    display: flex;
}

.centered-title {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    margin-right: 10px;
}

/* Ajustes para tabletas (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .centered-table {
        width: 80%;
    }

    .button-container {
        justify-content: center;
    }
}

/* Ajustes para laptops y monitores de escritorio (> 1024px) */
@media (min-width: 1024px) {
    .centered-table {
        width: 70%;
    }

    .button-container {
        justify-content: flex-end;
    }
}

/* Ajustes específicos para teléfonos (hasta 767px) */
@media (max-width: 767px) {
    .centered-table {
        width: 95%;
    }

    .scan-input {
        flex-direction: column;
    }

    .button-container {
        justify-content: center;
    }

    .menu-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.centered-table ion-col {
    max-width: 150px;
}