ion-segment-button{
  --color-checked: #ffffff; /* Color del texto cuando está seleccionado */
  --background-checked: #007bff;
  --background:#ffffff ;
  --color: black;
}

ion-item-divider{
  visibility: hidden;
}
.red-button {
  --background: red !important;
  --color: white !important;
}

.blue-button {
  --background: rgb(0, 255, 247) !important;
  --color: rgb(0, 0, 0) !important;
}

.default-button {
  --background: var(--ion-color-primary) !important;
  --color: white !important;
}

.dashboard-container {
  padding: 20px;
padding: 20px;
height: 100%;
background: url('../../assets/fondo.jpg') no-repeat center center fixed;
background-size: cover;
width: 100%;
}

.collection-header {
  margin-bottom: 10px;
}

.collection-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.collection-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.collection-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.collection-item ion-button {
  width: 100%;
  margin-bottom: 10px;
}

.collection-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.battery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.battery {
  width: 220px;
  height: 80px;
  border: 2px solid #808b96; /* Borde azul */
  border-radius: 12px;
  position: relative;
  background: #fff; /* Fondo blanco */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra */
  overflow: hidden; /* Para evitar que el nivel de la batería sobresalga */
}

.battery-cap {
  content: '';
  position: absolute;
  top: 25%;
  right: -10px;
  width: 20px;
  height: 50%;
  border: 2px solid #808b96; /* Borde azul */
  background: #fff; /* Fondo blanco */
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.battery-level {
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.6s ease-in-out; /* Transición suave */
}

.battery-level.normal {
  background: linear-gradient(to right, #4caf50, #8bc34a); /* Verde */
}

.battery-level.warning {
  background: linear-gradient(to right, #ff9800, #ffc107); /* Naranja */
}

.battery-level.critical {
  background: linear-gradient(to right, #f44336, #e57373); /* Rojo */
}

.battery-label {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
  
