<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Spare Control CMSystem</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/menu">menu</ion-button>
      <ion-button (click)="logout()">
        log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Graphics</ion-title>
    </ion-toolbar>
  </ion-header>


  <h2>Cage 1</h2>
  <div class="charts-container">
    <canvas id="c1Chart"></canvas>  
  </div>
  <h2>Cage 2</h2>
<div class="charts-container">

  <canvas id="c2Chart"></canvas>
</div>

</ion-content>