.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.centered-table {
  width: 100%;
  border: 2px solid gray;
  box-sizing: border-box;
}

.scan-input {
  width: 100%;
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
}

@media (min-width: 768px) {
  .centered-table {
      width: 50%;
  }
}

.centered-table ion-col {
  max-width: 150px;
}

.centered-title {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  margin-right: 10px;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto; 
}

.charts-container canvas {
  max-width: 95%;
  max-height: 800px;
  flex: 1 1 auto; 
  margin: 0 10px; 
}

@media (max-width: 1024px) {
  .charts-container canvas {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .charts-container {
    flex-direction: column;
    align-items: center;
  }
  
  .charts-container canvas {
    max-width: 90%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .menu-button {
    margin-right: 5px;
  }
}
