<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Spare Control CMSystem / Cage B / Movements</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/c2table">Inventory</ion-button>
      <ion-button class="menu-button" routerLink="/menu">Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Counter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item-divider></ion-item-divider>

  <div class="scan-input">
    <ion-label>Scan Consumable</ion-label>
    <ion-input type="text" placeholder="Scan" [(ngModel)]="partNumber" (ionChange)="showActionButtons()" (keyup.enter)="showActionButtons()"></ion-input>
  </div>

  <div *ngIf="filteredConsumables.length === 1" class="action-card">
    <div class="consumable-info">
      <h1>{{ filteredConsumables[0].Consumable }}</h1>
      <p>Part Number: <b>{{ filteredConsumables[0].PartNumber }}</b></p>
      <p>Available: <b>{{ filteredConsumables[0].SubTotal }}</b></p>
      <h2>In/Out Material</h2>
    </div>
    <div class="action-buttons">
      <ion-button (click)="handleAction('increase')">Increase</ion-button>
      <ion-button (click)="handleAction('lend')">Lend</ion-button>
      <ion-button (click)="handleAction('damage')">Damage</ion-button>
      <ion-button (click)="handleAction('endOfLife')">End of Life</ion-button>
    </div>
    <ion-button (click)="clearScan()" expand="block" color="danger">Close</ion-button>
  </div>
</ion-content>
